.inter__box {
  width: 100%;
  height: 330px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background: #BFBFBF;
  margin-bottom: 15px;

  &__wrapper {
    width: 800px;
    height: 250px;
    margin: 15px auto;
    border: 2px solid blue;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__inner {
      width: 20%;
      height: 200px;
      margin: 5px;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      position: relative;
      box-sizing: border-box;

      &__inum {
        position: absolute;
        top: 38px;
        color: darkseagreen;
        font-size: 100px;
        z-index: 1;
      }

      &__outer {
        width: 30px;
        height: 30px;
        margin: 2px 0;
        border: 1px solid grey;
        position: relative;
        z-index: 2;

        &__but {
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: transparent;
          opacity: 0.7;
          color: grey;
          border: none;
          outline: none;
          cursor: pointer;
          z-index: 4;
        }

        &__xbut {
          position: absolute;
          top: -2px;
          left: 4px;
          font-size: 30px;
          display: none;
          z-index: 3;
        }
      }
    }
  }

  &__error_box {
    width: 100%;
    height: 50px;

    &__message {
      width: 50%;
      margin-left: 50px;
      float: left;
      display: none;
      text-decoration: underline;
    }

    &__form {
      width: 50%;
      float: right;

      &__submit {
        display: none;
        padding: 5px;
        border: 3px solid black;
        outline: none;
        cursor: pointer;
      }
    }
  }

  &__modal_box {
    position: relative;

    &__modal_overlay {
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 998;

      &__inner {
        position: fixed;
        top: 50%;
        left: 50%;
        display: none;
        width: 300px;
        height: 125px;
        margin-top: -62.5px;
        margin-left: -150px;
        background: #D7BAAC;
        border-top: 3px solid #bfbfbf;
        border-bottom: 3px solid #bfbfbf;
        z-index: 999;

        &__text, &__text_res {
          margin-top: 10px;
          color: black;
          font-size: 17px;
          text-align: center;
        }

        &__but {
          width: 50px;
          height: 30px;
          margin-top: 10px;
          margin-left: 125px;
          font-size: 17px;
          color: black;
          background: #bfbfbf;
          border: 2px solid black;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            color: white;
            background: black;
            border: 2px solid #bfbfbf;
          }
        }
      }
    }
  }
}

.mark {
  display: block;
}