* {
    margin: 0;
    padding: 0;
}

.init_wrapper {
    background: url(../img/backgr_main_1920.svg);
}

.container {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;
}
