.Item {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #eef0f3;
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &__number {
      width: 15px;
      margin-left: 15px;
      color: #dddddd;
    }
    &__title {
      width: 40px;
      height: 40px;
      margin-left: 30px;
      background-color: #3dcbe1;
      border-radius: 20px;
      box-shadow: 0 0 20px 0 #d5d7da;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
    &__name-box {
      width: 298px;
      margin-left: 20px;
      &__name {
        margin: 0;
        padding: 0;
        color: #16364a;
        font-weight: bold;
      }
      &__pub {
        color: #e1e1e1;
      }
    }
    &__medal-box {
      width: 25px;
      height: 40px;
      position: absolute;
      top: 10px;
      left: 330px;
      &__img {
        width: 100%;
        height: 100%;
      }
    }
    &__pageview {
      margin: 0 0 20px 0;
      padding: 0;
      color: #16364a;
      font-weight: bold;
    }
  }
}